/* Reset CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
  */ 

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, 
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
  	margin: 0;
  	padding: 0;
  	border: 0;
  	font-size: 100%;
  	font: inherit;
  	vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
  	display: block;
  }
  body {
  	line-height: 1;
  }

  blockquote, q {
  	quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
  	content: '';
  	content: none;
  }
  table {
  	border-collapse: collapse;
  	border-spacing: 0;
  }

  /* Main CSS */

  /* header formating*/

  h1{
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
  }

  /* Main formating*/

  mark{
    background-color: #dddddd;
  }

  .main-container{
    width: 600px;
    margin: auto;
    /*background-color: #eeeeee;*/
    padding: 5px;
  }

  .blocks{
    width:280px;
    /*height: 50px;*/
    /*border: 1px solid black;*/
    /*display: inline-block;*/
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
  }

  .section{
    margin: 10px 0;
    clear: both;
  }

  .float-last-item{
    display: block;
    clear: both;
  }

  /* Section 1*/

  .section1-blocks{
    vertical-align: top;
    display: inline-block;
    /*float: left;*/
    background-color: #FE7668;
    border: 1px solid red;
  }

  /* Section 2*/

  .section2-blocks{
    vertical-align: top;
    /*display: inline-block;*/
    float: left;
    background-color: #5CFB8D;
    border: 1px solid green;
  }

  /* Section 3*/
  
  .section3-blocks{
    width: 50%;
    vertical-align: top;
    display: inline-block;
    background-color: #FE7668;
    margin: 10px 0;
    border: 1px solid red;
  }

  /* Section 4*/
  
  .section4-blocks{
    width: 50%;
    /*vertical-align: top;*/
    /*display: inline-block;*/
    float: left;
    background-color: #5CFB8D;
    border: 1px solid green;
  }


