/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   */ 
  
   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed, 
   figure, figcaption, footer, header, hgroup, 
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /* Main CSS */

  html{
    font-size: 16px;
  }

/* Header CSS*/

*, *:after, *:before{
  box-sizing: border-box;
}

.cf,.cf:before,.cf:after{
  content:"";
  display: table;
}

.cf:after{
  clear:both;
}

.cf{
  clear:both;
  *zoom:1;
}

/* Header formatting */

.header__hide-message {
  width: 100%;
  padding:10px 0;
  background-color: cyan;
  opacity: 0.6;
  text-decoration: underline;
  text-transform: uppercase;
  text-align: center;
  margin-top:5px;
  display: none;
}

.logo{
  float:left;
  position: absolute;
  left:0; bottom:0;
}

.wrapper {
max-width: 960px;
width: 80%;
margin: auto;
position: relative;
  height: 100px;
  padding-bottom:10px;
/*padding:20px;*/
}

nav ul li{
  display: inline-block;
  padding-left: 10px;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 600;
}

nav{
  float:left;
  position: absolute;
  right:0; bottom:10px;
}

/* Hero section formatting */

.hero{
  /*width: 100%;*/
}

.hero__img img{
  display: block;
  width: 100%;
  margin:5px 0;
  float: left;
}

.col-6-10{
  float:left;
  width: 55%;
  margin-right: 5%;
}

.col-4-10{
  float:left;
  width: 40%;
}

.col-4-10, .col-6-10{
  padding:10px 0;
}

.heading{
  font-size: 1.2em;
  text-transform: capitalize;
  font-weight: 600;
  padding:10px 0;
}

.hero__text{
  line-height: 1.4;
}

.hero__secd-section{
  font-style: italic;
}

.col-4-10 h2{
  font-size: 1.1em;
}

.col-4-10 p{
  font-size: 0.9em;
}

@media all and (max-width: 640px) {

  .header__hide-message{
    display: block;
  }

  .logo{
    position: static;
    display: block;
    width: 100%;
  }

  .logo img{
    display: block;
    width:150px;
    margin:0 auto;
  }

  nav{
    display: block;
    width: 100%;
    position: static;
    float: left;
    text-align: center;

  }

  nav ul li{
    display: block;
    width: 100%;
    position: static;
    background-color: #9cc995;
    padding:10px 0;
    margin:2px 0;
  }


  .col-4-10, .col-6-10{
   display: block;
   width: 90%;
   margin:5%; 
  }

}


